
.restaurant-form {
  font-family: Arial, sans-serif;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  height: 100px;
  margin-bottom: 20px;
}



/* CSS für neue Bewertungen. */
.rating {
  font-size: 24px;
}

.rating input {
  position: absolute;
  opacity: 0;
}

.rating label {
  display: inline-block;
  cursor: pointer;
  color: #ccc; /* Standardfarbe der Sterne */
}

.rating label::before {
  content: "\2605";
}

.rating input:checked ~ label::before {
  color: #f7d222; /* Gelbe Farbe für ausgewählte Sterne */
}


input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}




