.res-big-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-right: 20%;
}

.respic {
  width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.createbtn2 {
  background-color: #89D1D6;
  border: none;
  color: #333;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-top: 20px;
  border: 2px solid white !important;
  font-weight: bold;
  box-shadow: 0 15px 35px rgba(0, 0, 0, .2);
  z-index: 5px;
}

.createbtn2:hover,
.createbtn2:focus {
  color: #fff;
  outline: 0;
  box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
  transition: all 150ms ease-in-out;
}

.details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 15px;
  width: 100%;
}

.comments-section {
  display: block;
  flex: 1;
}

.longbtn {
  cursor: pointer;
  background-color: #89D1D6;
  border: 1px solid white;
  border-radius: 5px;
  position: relative;
  padding: 10px 20px;
  margin-top: 30px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, .2);
}

.longbtn:hover,
.longbtn:focus {
  color: #fff;
  outline: 0;
  box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
  transition: all 150ms ease-in-out;
}