.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .restaurant-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
  }
  
  .restaurant-card.deutsch {
    background-color: #f9e79f; /* Gelbton */
  }
  
  .restaurant-card.spanisch {
    background-color: #e74c3c; /* Rotton */
  }
  
  .restaurant-card.italienisch {
    background-color: #52be80; /* Grünton */
  }
  
  .restaurant-card.balkan {
    background-color: #b2babb; /* Grauton */
  }
  
  .restaurant-card.asiatisch {
    background-color: #5dade2; /* Blauton */
  }
  
  .restaurant-card.sonstige {
    background-color: #34495e; /* Dunkelgrauton */
  }
  .restaurant-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .restaurant-info {
    padding: 10px;
  }
  
  .restaurant-name {
    margin: 0;
    font-size: 1.2em;
  }
  
  .restaurant-stars {
    color: gold;
    margin: 5px 0;
  }
  
  .restaurant-location {
    font-size: 0.9em;
    color: #555;
  }
  
