/** Die Datei hieß früher AsianRest */
.ChooseYourRest {
    width: 100%;
    height: 100vh;
}
.ChooseYourRest-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 300px;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
    border-radius: 10px;
}
.ChooseYourRest-text h2 {
    color: rgba(104,136,238,1);
    font-size: 36px;
    font-weight: 700;
}
.ChooseYourRest-text p {
    color: rgba(104,136,238,1);
    font-size: 18px;
    font-weight: 700;
}
.underline {
    width: 300px;
    height: 6px;
    background: rgba(148,233,206,1);
    margin-bottom: 10px;
    margin: auto;
}    
/* ===================================== */

.ChooseYourRest-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}
.ChooseYourRest-select {
    display: flex;
    align-items: center;
    margin: 1.5rem auto;
    width: 480px;
    height: 70px;
    background: #eaeaea;
    border-radius: 60px;
}
.ChooseYourRest-select input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 18px;
    padding-left: 20px;
}
.ChooseYourRest-select label {
    font-size: 18px;
    font-weight: 500;
    padding: 0 20px;
    color: #797979;
}
.ChooseYourRest-select option {
    display: block;
    height: 1rem;
    font-size: 18px;
    font-weight: 500;
    padding: 0 20px;
    color: #797979;
}
.ChooseYourRest-main button {
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: rgba(148,233,206,1);
    border: none;
    color: #797979;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    margin: auto;
}